.bloger_desk_item {
  background: rgba(#fff, .25);
  max-width: 100%;
  min-height: 570px;
  border: 1px solid $light;
  overflow: hidden;
}

.bloger_deck_inner {
  display: flex;
  justify-content: space-between;

  @media (max-width:650px) {
    display: block;
  }
}

.bloger_avatar {
  display: flex;
  width: 400px;
  height: 570px;
  overflow: hidden;
  justify-content: center;

  img {
    display: block;
    height: 100%;

    @media (max-width:650px) {
      margin: 10px auto;
      display: block;
      width: 100%;
      height: auto;
    }
  }

  @media (max-width:650px) {
    display: block;
    width: 100%;
    height: auto;
  }
}

.bloger_info_name {
  text-align: left;
  margin-bottom: 30px;
}

.bloger_info {
  position: relative;
  max-width: 900px;
  padding: 40px 30px;
  overflow: hidden;

  @media (max-width:700px) {
    padding: 40px 30px 0;
  }
}

.bloger_platform {
  display: flex;
  flex-wrap: wrap;
  position: relative;

  &::after, &::before {
    content: '';
    display: block;
    position: absolute;
    height: 1px;
    width: 100%; 
    background: $light;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  @media (max-width:650px) {
    justify-content: center;
    flex-direction: column;
  }
}

.platform_to_blog {
  display: flex;
  position: relative;
  width: 50%;
  margin: 20px 0;

  img {
    margin-right: 20px;
  }

  @media (max-width:500px) {
    width: auto;
    height: auto;
  }
}

.subscribees_number {

  p {
    font-size: 30px;
    font-weight: 700;

    @media (max-width:700px) {
      font-size: 20px;
    }
  }
}

.bloger_more_info {
  margin: 30px 0;

  p {
    display: block;
    width: 100%;
    height:  130px;
    overflow: hidden;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 4px;
      background: #969696;
      overflow: visible;
    }
    &::-webkit-scrollbar-thumb {
      width: 4px;
      background: $light;
      border-radius: 8px;
    }

    @media (max-width:1200px) {
      font-size: 20px;
      margin-top: 20px;
    }
  }
}

.last_videos {
  margin-top: 50px;
}

.last_videos_inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.bloger_las_video {
  position: relative;
  margin-bottom: 30px;
  cursor: pointer;

  

  &::before {
    content: url('/img/sprytes/play.png');
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 5;
  }

  &:hover {
    .bloger_last_video_inner::after {
      opacity: 0;
    }
  }

  @media (max-width:650px) {
    width: 100%;
    height: auto;
    margin: 10px auto;
  }
}

.bloger_last_video_inner {
  position: relative;
  display: block;
  z-index: 2;

  &::after {
    content: '';
    position: absolute;
    z-index: 3;
    background: $sup;
    opacity: .3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .4s;
  }

  @media (max-width:650px) {
    width: 100%;
    height: auto;
  }

  img {
    @media (max-width:650px) {
      width: 100%;
      height: auto;
    }
  }
}

.other_blogers {
  display: flex;
  flex-wrap: nowrap;
  width: 1000%;
  margin-top: 50px;
  overflow-x: scroll;

  .bloger_item {
    width: 311px;
    margin-right: 20px;
  }

  &::-webkit-scrollbar {
    height: 4px;
    background: #969696;
  }
  &::-webkit-scrollbar-thumb {
    background: $contrast;
  }
}

.other_bloger_mobile_wrapper {
  display: none;

  @media (max-width:1300px) {
    display: block;
  }
}

.other_blogers_mobile {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}

.swiper {
  width: 100%;
  height: 420px;

  @media (max-width:1300px) {
    display: none;
  }
}

// .swiper-button-prev,
// .swiper-button-next {
//   margin-top: 400px;
// }

.swiper-scrollbar {
  width: 350px;
}