// color
$main: #6E105E;
$light: #EFF3F5;
$contrast: #FE8B4C;
$sup: #6E105E;
$mask: #BD1C9F;




@import './reset';
@import './vars';
@import './header';
@import './pagination';
@import './soft';
@import './blogers';
@import './bloger';
@import './footer';